$background-color: #000000;
$background-image: url("imt-hero.svg");
$login-container-color: rgba(255, 255, 255, 0.5);
$register-container-color: rgba(255, 255, 255, 0.5);
$h1-color: #461257;
$h2-color: #81007f;
$h3-color: #fff;
$title-color: #461257;
$button-color: #81007f;
$button-hover-color: #8f00ff;
$user-list-color: rgba(255, 255, 255, 0.5);
$content-container-color: rgba(255, 255, 255, 0.5);
$info-container-color: rgba(255, 255, 255, 0.5);
$main-container-color: rgba(255, 255, 255, 0.5);
$heading-color: white;
$about-color: white;

@mixin container {
    max-width: 500px;
    margin: 30px;
    padding: 20px;
    background-color: $main-container-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: $background-color;
    background-image: $background-image;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.login-container {
    @include container;
    transform: translate(0%, 50%);
}

.register-container {
    @include container;
    transform: translate(0%, 10%);
}

h1 {
    text-align: center;
    color: $h1-color;
}
h3,h4,h5,h6,p {

    color: $h3-color;
   }
h2,label {

    color: $h2-color;
}
.title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: $title-color;
}


@media screen and (max-width: 400px) {
    .schedule {
        flex-direction: column; // Змінює напрямок на стовпець для малих екранів
    }
}


@mixin container {
    max-width: 500px;
    margin: 30px;
    padding: 20px;
    background-color: $container-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
}

button {
    background-color: $button-color;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: $button-hover-color;
    }
}

.hidden {
    display: none;
}

.user {
    cursor: pointer;

    &:hover {
        background-color: #fff;
    }
}

#user-list {
    @include container;
    max-width: 100%;
}

.content-container {
    @include container;
    max-width: 200px;

    img {
        width: 90%;
        padding: 10px;
    }
}

.group {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.topnav {
    text-align: center;
    margin-bottom: 20px;

    a {
        display: inline-block;
        line-height: 30px;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hover {
            background-color: $button-hover-color;
            color: white;
        }
    }
}

.link-to-register {
    padding: 10px;

    a {
        color: black;
    }
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.info-container {
    @include container;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 40px;

    img {
        width: 250px;
        height: 400px;
        object-fit: cover;
        margin: 10px;
        margin-top: 30px;
    }
}

.heading {
    font-family: sans-serif;
    font-size: 30px;
    color: $heading-color;
    text-shadow: 2px 2px 4px black;
}

.about {
    font-family: sans-serif;
    font-size: 60px;
    color: $about-color;
    text-align: left;
    max-width: 40%;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

iframe {
    width: 560px;
    height: 315px;
}